{% extends 'base.html.twig' %}

{% block title %}Welcome to BileMo{% endblock %}

{% block body %}
<div id="mainDiv">
    <h1>Welcome to <span>BileMo</span></h1>
    <h2>First high-quality phones providing API</h2>
    <p>Please visit our <a href="/api/doc">documentation</a> to learn how to use it !</p>
</div>
{% endblock %}
